.full-width-carousel {
    max-width: 100%;
    margin: 0 auto; /* Centraliza o carrossel */
}

.carousel-img {
    width: 100%; /* Ocupa toda a largura disponível do carrossel */
    height: 500px; /* Define uma altura fixa para a imagem */
    object-fit: contain; /* Mantém a proporção da imagem sem cortar */
}

.carousel-caption {
    margin-top: 20px; /* Adiciona um espaço entre a imagem e a legenda */
}

.carousel-caption h3,
.carousel-caption p {
    color: black; /* Define a cor do texto da legenda */
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Define a cor das setas como preto */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: black; /* Altera a cor do ícone quando o mouse está sobre as setas */
}

/* Estiliza os indicadores do carousel */
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Cor dos pontos inativos */
    width: 12px !important; /* Largura dos indicadores */
    height: 12px !important; /* Altura dos indicadores */
    border-radius: 50% !important; /* Torna os indicadores circulares */
    border: 1px solid #000; /* Adiciona uma borda preta fina aos indicadores */
}

/* Estilo para o ponto ativo */
.carousel-indicators .active {
    background-color: black !important; /* Cor do ponto ativo */
}

.carousel-caption-personal{
    position: static !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 20px !important;
}